*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.quiz{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.carta{
    background-color: rgb(139, 143, 142);
    width: 800px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 1rem 5px rgba(0, 0, 0, 1);
    overflow: hidden;
}

.textos{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left :2rem;
    margin-right :2rem;
}

ul{
    align-self: center;
    margin-top: 1.3rem;
    list-style: none;
}

li{
    padding: 0.5rem 0;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

li:hover{
    background-color: rgb(180, 180, 180);
    border-radius: 10px;
}

.opciones{
    margin-right: 1rem;
}

.puntuaciones{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.siguiente{
    background-color: rgb(1, 95, 158);
    font-weight: bold;
    color: white;
    font-size: 100%;
    width: 50%;
    padding: 1.3rem;
    border-style: none;
    border-top-left-radius: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

.siguiente:hover{
    background-color: rgb(0, 160, 252);
}

.exit{
    background-color: rgb(146, 0, 0);
    font-weight: bold;
    color: white;
    font-size: 100%;
    width: 50%;
    padding: 1.3rem;
    border-style: none;
    border-top-right-radius: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

.exit:hover{
    background-color: red;
}

.restart{
    background-color: gray;
    font-weight: bold;
    color: white;
    font-size: 100%;
    width: 50%;
    padding: 1.3rem;
    border-style: none;
    cursor: pointer;
}

.restart:hover{
    background-color: rgb(255, 254, 254);
    color: black;
}

.botones{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

.restartHighscore{
    background-color: rgb(117, 70, 70);
    font-weight: bold;
    color: white;
    font-size: 100%;
    width: 50%;
    padding: 1.3rem;
    border-style: none;
    cursor: pointer;
}

.restartHighscore:hover{
    background-color: rgb(209, 124, 124);
    color: black;
}
